<main>
  <div id="container" class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped navbar-transparent" style = "padding-bottom: 14.7%;">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-default">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/brand/househomieslogo.png" style="width: 200px;" class="img-fluid">
              <p class="lead text-white">Finding you the right homies for your home</p>
              <div class="btn-wrapper mt-5">
                <a [routerLink]="['/login']"  class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text">Sign in</span>
                </a>
                <a [routerLink]="['/register']" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text">Register</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
    </section>
  </div>
  <!--<app-sections></app-sections>-->
</main>
