<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">This is the Matches page
                <span>where you will find all of the people that matched with you.</span>
              </h1>
              <p class="lead  text-white">From here you can see their profiles and interact with them, happy HouseHomie finding!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
