<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">This is the Matches page
                <span>where you will find all of the people that matched with you.</span>
              </h1>
              <p class="lead  text-white">From here you can see their profiles and interact with them, happy HouseHomie finding!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="card-profile-image text-center">
                        <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle" style="height: 150px;" >
                    </div>
                    <h6 class="text-primary text-uppercase text-center" style="text-align: center;">Charles Hilton</h6>
                    <h5>              
                      <i class="ni ni-user-run"></i>
                      Age<span class="font-weight-light">: 24</span>
                    </h5>
                    <!-- Gender -->
                    <h5>
                      <i class="ni ni-circle-08"></i>
                      Gender<span class="font-weight-light">: Female</span>
                    </h5>
                    <h5> 
                      <i class="ni ni-air-baloon"></i>
                      Location<span class="font-weight-light">: City Centre</span> 
                    </h5>
                    <div class="center" ngbDropdown>
                      <button class="btn btn-primary mt-4 dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                        Contact
                      </button>
                      <div class="" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                        <a class="dropdown-item">*Phone Number*</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="card-profile-image text-center">
                        <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle" style="height: 150px;" >
                    </div>
                    <h6 class="text-primary text-uppercase text-center" style="text-align: center;">Charles Hilton</h6>
                    <h5>              
                      <i class="ni ni-user-run"></i>
                      Age<span class="font-weight-light">: 24</span>
                    </h5>
                    <!-- Gender -->
                    <h5>
                      <i class="ni ni-circle-08"></i>
                      Gender<span class="font-weight-light">: Female</span>
                    </h5>
                    <h5> 
                      <i class="ni ni-air-baloon"></i>
                      Location<span class="font-weight-light">: City Centre</span> 
                    </h5>
                    <div class="center" ngbDropdown>
                      <button class="btn btn-primary mt-4 dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                        Contact
                      </button>
                      <div class="" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                        <a class="dropdown-item">*Phone Number*</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="card-profile-image text-center">
                        <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle" style="height: 150px;" >
                    </div>
                    <h6 class="text-primary text-uppercase text-center" style="text-align: center;">Charles Hilton</h6>
                    <h5>              
                      <i class="ni ni-user-run"></i>
                      Age<span class="font-weight-light">: 24</span>
                    </h5>
                    <!-- Gender -->
                    <h5>
                      <i class="ni ni-circle-08"></i>
                      Gender<span class="font-weight-light">: Female</span>
                    </h5>
                    <h5> 
                      <i class="ni ni-air-baloon"></i>
                      Location<span class="font-weight-light">: City Centre</span> 
                    </h5>
                    <div class="center" ngbDropdown>
                      <button class="btn btn-primary mt-4 dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                        Contact
                      </button>
                      <div class="" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                        <a class="dropdown-item">*Phone Number*</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section section-lg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="card-profile-image text-center">
                        <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle" style="height: 150px;" >
                    </div>
                    <h6 class="text-primary text-uppercase text-center" style="text-align: center;">Charles Hilton</h6>
                    <h5>              
                      <i class="ni ni-user-run"></i>
                      Age<span class="font-weight-light">: 24</span>
                    </h5>
                    <!-- Gender -->
                    <h5>
                      <i class="ni ni-circle-08"></i>
                      Gender<span class="font-weight-light">: Female</span>
                    </h5>
                    <h5> 
                      <i class="ni ni-air-baloon"></i>
                      Location<span class="font-weight-light">: City Centre</span> 
                    </h5>
                    <div class="center" ngbDropdown>
                      <button class="btn btn-primary mt-4 dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                        Contact
                      </button>
                      <div class="" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                        <a class="dropdown-item">*Phone Number*</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="card-profile-image text-center">
                        <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle" style="height: 150px;" >
                    </div>
                    <h6 class="text-primary text-uppercase text-center" style="text-align: center;">Charles Hilton</h6>
                    <h5>              
                      <i class="ni ni-user-run"></i>
                      Age<span class="font-weight-light">: 24</span>
                    </h5>
                    <!-- Gender -->
                    <h5>
                      <i class="ni ni-circle-08"></i>
                      Gender<span class="font-weight-light">: Female</span>
                    </h5>
                    <h5> 
                      <i class="ni ni-air-baloon"></i>
                      Location<span class="font-weight-light">: City Centre</span> 
                    </h5>
                    <div class="center" ngbDropdown>
                      <button class="btn btn-primary mt-4 dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                        Contact
                      </button>
                      <div class="" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                        <a class="dropdown-item">*Phone Number*</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="card-profile-image text-center">
                        <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle" style="height: 150px;" >
                    </div>
                    <h6 class="text-primary text-uppercase text-center" style="text-align: center;">Charles Hilton</h6>
                    <h5>              
                      <i class="ni ni-user-run"></i>
                      Age<span class="font-weight-light">: 24</span>
                    </h5>
                    <!-- Gender -->
                    <h5>
                      <i class="ni ni-circle-08"></i>
                      Gender<span class="font-weight-light">: Female</span>
                    </h5>
                    <h5> 
                      <i class="ni ni-air-baloon"></i>
                      Location<span class="font-weight-light">: City Centre</span> 
                    </h5>
                    <div class="center" ngbDropdown>
                      <button class="btn btn-primary mt-4 dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle>
                        Contact
                      </button>
                      <div class="" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                        <a class="dropdown-item">*Phone Number*</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
  </div>
</main>


<!--<mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>-->



    <!--<div style="text-align: center;">
      <mdb-card>
      
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
        
        <mdb-card-body>
      
          
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
      
          
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>
      
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
      <mdb-card>
        
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
        
        <mdb-card-body>
      
          
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
      
          
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>
      
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
      <mdb-card>
        
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
        
        <mdb-card-body>
      
          
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>
      
          
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>
      
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>-->