<main class="profile-page">
    <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">

    <section class="section section-lg section-hero section-shaped">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-default">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="javascript:void(0)">
                                    <img [src]="image" class="rounded-circle" style="height: 150px">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                            <div class="card-profile-actions py-4 mt-lg-0">
                                <!--<a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>-->
                                <a href="javascript:void(0)" class="btn btn-sm btn-info float-right" (click)="handleClick()">Save</a>
                            </div>
                        </div>
                        <div class="col-lg-4 order-lg-1">
                            <div class="card-profile-stats d-flex justify-content-right">
                                <div>
                                    <span class="heading">Please edit your profile and save</span>
                                </div>
                                <!--
                    <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                  -->
                            </div>
                        </div>
                    </div>

                    <!-- Middle Section-->

                    <div class="text-center mt-5">
                        <!-- Full Name -->
                        <h5>First Name<span class="font-weight-light">: {{ firstName }} </span>

                            <!-- Full Name Form-->
                            <div class="row justify-content-center">
                                <form>
                                    <div class="col-md-20">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="firstName"
                                                value="{{ firstName }}">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </h5>

                        <h5>Last Name<span class="font-weight-light">: {{ lastName }} </span>

                            <!-- Full Name Form-->
                            <div class="row justify-content-center">
                                <form>
                                    <div class="col-md-20">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="lastName"
                                                value="{{ lastName }}">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </h5>

                        <!-- Preferred Name -->
                        <h4>Preferred name<span class="font-weight-light">: {{ preferredName }}</span> </h4>

                        <!-- Preferred Name-->
                        <div class="row justify-content-center">
                            <form>
                                <div class="col-md-20">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="preferredName"
                                            value="{{ preferredName }}">
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="mt-3 py-4 border-top text-center"> </div>

                        <!-- Location -->
                        <h5>
                            <i class="ni ni-air-baloon"></i>
                            Location<span class="font-weight-light">: {{ location }}</span>

                            <!-- Location Form-->
                            <div class="row justify-content-center">
                                <form>
                                    <div class="col-md-20">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="location"
                                                value="{{ location }}">
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </h5>

                        <!-- Gender -->
                        <h5>
                            <i class="ni ni-circle-08"></i>
                            Gender<span class="font-weight-light">: {{ gender }}</span>

                            <!-- Gender Form-->
                            <div class="row justify-content-center">
                                <form>
                                    <div class="col-md-20">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="gender"
                                                value="{{ gender }}">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </h5>
                        <!-- Age -->
                        <h5>
                            <i class="ni ni-user-run"></i>
                            Age<span class="font-weight-light">: {{ age }}</span>

                            <!-- Age Form-->
                            <div class="row justify-content-center">
                                <form>
                                    <div class="col-md-20">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="age"
                                                value="{{ age }}">
                                        </div>
                                    </div>
                                </form>
                            </div>



                        </h5>
                        <!-- Religion -->
                        <h5>
                            <i class="ni ni-istanbul"></i>
                            Religion<span class="font-weight-light">: {{ religion }}</span>

                            <!-- Drop down Form -->
                            <!--<span class="font-weight-light"> &nbsp; </span>
                            <div class="btn-group" ngbDropdown>
                                
                                <div class="btn-group" ngbDropdown>
                                    <button type="button" class="btn btn-secondary  dropdown-toggle"
                                        ngbDropdownToggle>Religion</button>
                                    <div ngbDropdownMenu>
                                        <a ngbDropdownItem href="javascript:void(0)">Action</a>
                                        <a ngbDropdownItem href="javascript:void(0)">Another action</a>
                                        <a ngbDropdownItem href="javascript:void(0)">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a ngbDropdownItem href="javascript:void(0)">Separated link</a>
                                    </div>
                                </div>
                            </div>-->
                            <div class="row justify-content-center">
                                <form>
                                    <div class="col-md-20">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="religion"
                                                value="{{ religion }}">
                                        </div>
                                    </div>
                                </form>
                            </div>



                        </h5>

                        <!-- Phone -->
                        <h5>
                            <i class="ni ni-mobile-button"></i>
                            Phone<span class="font-weight-light">: {{ phoneNumber }}</span>
                        
                        <!-- Phone Form-->
                        <div class="row justify-content-center">
                            <form>
                                <div class="col-md-20">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="phoneNumber"
                                            value="{{ phoneNumber }}">
                                    </div>
                                </div>
                            </form>

                        </div>
                        
                        
                        
                        </h5>
                        <!-- Uni course -->
                        <h5>
                            <i class="ni ni-hat-3"></i>
                            Uni course<span class="font-weight-light">: {{ uniCourse }}</span>
                        
                        <!-- Uni course Form-->
                        <div class="row justify-content-center">
                            <form>
                                <div class="col-md-20">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="uniCourse"
                                            value="{{ uniCourse }}">
                                    </div>
                                </div>
                            </form>

                        </div>
                        
                        
                        
                        </h5>


                        <!-- 3 Column Section -->
                        <div class="px-1">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 order-lg-2">
                                    <div class="text-center mt-4">
                                        <div class="py-2 border-top text-center"> </div>

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm">


                                                    <!-- Budget -->

                                                    <h5>
                                                        <i class="ni ni-money-coins"></i>
                                                        <span class="font-weight-dark"> Budget</span>
                                                    </h5>
                                                    <span>£</span>
                                                    <span> {{ budget }}</span>

                                                    <!-- Budget Slider-->
                                                    <!--<div class="input-slider-container">
                                                        <div id="test" class="input-slider"></div>
                                                    </div>-->
                                                    <div class="row justify-content-center">
                                                        <form>
                                                            <div class="col-md-20">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="budget"
                                                                        value="{{ budget }}">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                                <div class="col-sm">



                                                    <!-- Introvert / Extrovert -->
                                                    <h5>
                                                        <i class="ni ni-money-coins"></i>
                                                        <span class="font-weight-dark"> Personality</span>
                                                    </h5>
                                                    <span> {{ personality }}</span>
                                                    <div class="row justify-content-center">
                                                        <form>
                                                            <div class="col-md-20">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" id="personality"
                                                                        value="{{ personality }}">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>City Centre</div>
  
              <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>
              <div><i class="ni education_hat mr-2"></i>University of Computer Science</div>
            -->
                    </div>

                    <!-- BIO SECTION-->
                    <div class="mt-5 py-4 border-top text-center">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <h4><span class="font-weight-light">BIO</span> </h4>

                                <p>{{bio}}</p>

                                    <form>
                                        <textarea class="form-control" id="bio" rows="3" value="{{ bio }}"></textarea>
                                      </form>
                                    
                                <!--
                  <a href="javascript:void(0)">Show more</a>
                  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
