<section class="section"> <div class="container">
		<div class="card card-profile shadow mt--300">
			<div class="px-4">
				<div class="row justify-content-center">
					<div class="col-lg-3 order-lg-2">
						<div class="card-profile-image">
							<a href="javascript:void(0)">
								<img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle 
													position-relative">
							</a>
						</div>
					</div>
				</div>

				<!-- Middle Section-->

				<div class="text-center">
					<!-- Full Name -->
																											<!-- take the firt and last nae from the profile interface and put here  -->
					<h4>Name<span class="font-weight-light">: {{ profile.firstName }} {{ profile.lastName }} </span> </h4>

																											<!-- put the preferred name here -->
					<h6>Preferred name<span class="font-weight-light">: {{ profile.preferredName }} </span> </h6>
					<div class="mt-3 py-4 border-top text-center"> </div>

					<!-- Location -->
					<h5> 
						<i class="ni ni-air-baloon"></i>
						Location<span class="font-weight-light">: {{ profile.location }} </span> 
					</h5>
					<!-- Gender -->
					<h5>
						<i class="ni ni-circle-08"></i>
						Gender<span class="font-weight-light">: {{ profile.gender }}</span>
					</h5>

					<h1 class="position-absolute yes">
						<i class="ni ni-check-bold" (click)="choose_yes()"></i>
					</h1>

					<h1 class="position-absolute no">
						<i class="ni ni-fat-remove" (click)="choose_no()"></i>
					</h1>
					<!-- Age -->
					<h5>              
						<i class="ni ni-user-run"></i>
						Age<span class="font-weight-light">: {{ profile.age }}</span>
					</h5>
					<!-- Religion -->
					<h5>
						<i class="ni ni-istanbul"></i>
						Religion<span class="font-weight-light">: {{ profile.religion }}</span>
					</h5>

					<!-- Phone -->
					<h5>              
						<i class="ni ni-mobile-button"></i>
						Phone<span class="font-weight-light">: {{ profile.phoneNumber }}</span>
					</h5>
					<!-- Uni course -->
					<h5>              
						<i class="ni ni-hat-3"></i>
						Uni course<span class="font-weight-light">: {{ profile.uniCourse }}</span>
					</h5>


					<!-- 3 Column Section -->
					<div class="px-1">
						<div class="row justify-content-center">
							<div class="col-lg-7 order-lg-2">
								<div class="text-center mt-4">
									<div class="py-2 border-top text-center"> </div>

									<div class="container">
										<div class="row">
											<div class="col-sm">
												<!-- Budget -->

												<h5>              
													<i class="ni ni-money-coins"></i>
													<span class="font-weight-dark">  Budget</span> 
												</h5>
												<span>£</span>  
												<span>550</span>
											</div>
											<div class="col-sm">
												<!-- Introvert / Extrovert -->
												<h5>                            
													<i class="ni ni-money-coins"></i>
													<span class="font-weight-dark">  Personality</span> 
												</h5>
												<span>Introvert</span>
											</div>
											<div class="col-sm">
												<!-- Num of Matches -->
												<h5>                            
													<i class="ni ni-favourite-28"></i>
													<span class="font-weight-dark">  Matches</span>
												</h5>
												<span>3</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--
			 <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>City Centre</div>

			 <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>
			 <div><i class="ni education_hat mr-2"></i>University of Computer Science</div>
					-->
				</div>
				<!-- BIO SECTION-->
				<div class="mt-5 py-4 border-top text-center">
					<div class="row justify-content-center">
						<div class="col-lg-9">
							<h4><span class="font-weight-light">BIO</span> </h4>
							<p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
