<main class="profile-page">
    <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  
    <section class="section section-lg section-hero section-shaped">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-default">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
              </div>
              <div class="col-lg-4 order-lg-1">
              </div>
            </div>
            <div class="text-center mt-5">
              <img src="./assets/img/brand/househomieslogo.png" style="width: 200px;" class="img-fluid" >
              
              <div class="mt-5 py-4 border-top text-center">
                <div class="row justify-content-center">
                  <div class="col-lg-9">
                    <p>We started HouseHomies as the team were were unimpressed by the lack
                        of decent platforms in finding other students to live with or to find a spare room.</p>
                    <p></p>
                    <p>Currently the majority of university students who do not have a house sorted use Facebook pages to find a room
                         or other people to bunch up to find a house together. We see that most people either turn to the Clifton and 
                         Stoke Bishop Facebook page or alternative housing Facebook groups designed to help people find suitable accommodation.
                          The problems with these pages are that they can be unorganized, making it hard to track what users have seen and what users are yet to see.</p>
                          <p></p>
                    <p>Additionally, it is hard to tell what the group dynamic is like or whether the individual would be a good fit from a simple sentence made on a Facebook
                         post. Other alternatives that people could use are spareroom.com, however this can still lead to a mismatch in personalities and a less than ideal
                          living situation. We also concluded that the living environment of a student is a major factor regarding an individual's mental health, especially
                           given the pandemic and the lockdowns imposed, so it is important for a student to be living with other students with similar personalaties and interests.</p>     
                    <p></p>
                    <p>We saw an opportunity in the market to provide an easy-to-use and clear solution in finding like-minded housemates. To engage the users, we have opted into using
                         the mechanics of dating apps where groups and individuals are able to see the profile of each other. After looking at this profile to see if there would
                          be a good fit, users are then able to like or dislike other profiles. After the user has looked through profiles, they can go to the 
                        matches page where they can see users that have liked them back. </p>          
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
