

<main class="profile-page">
  <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">

  <section class="section section-lg section-hero section-shaped">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-default">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>

    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>

  </section>
	<div class="d-flex justify-content-center">

		<!-- initalize child component here -->
		<!-- [@viewInOut]="matched ? 'yes' : 'no'" => this is for animations. It takes the variable matched and sets [@viewInOut] to be yes or no if matched is true or false respectively.
		Setting viewInOut to yes or no corresponds to the states in animations-->
		<!-- *ngIf=cur_card => a directive that shows the app-card component only if the variable cur_card exists in the homepage.component.ts file-->
		<!-- [profile]="cur_card" => profile is the input for the card child component and cur_card is the input-->
		<!-- (results)="on_results($event) => results is the event emitter output from the child component and on_results is the function that is called in the homoepage component when an event is emitted -->
		<app-card [@viewInOut]="matched ? 'yes' : 'no'"  *ngIf=cur_card [profile]="cur_card" (results)="on_results($event)"
			 class="position-absolute top">
		</app-card>
	</div>

</main>
<app-match-popup *ngIf="matched_profile" [matched_profile]="matched_profile" (exit)="exit_popup()">
</app-match-popup>

