:host {
  top: 0;
  z-index:50;
}

.card-width {
  width: 250px;
}

.popup-text {
   text-transform: uppercase;
   text-align: center;
   color: #0f91fd;
}

.exit {
  right: 10px;
  top: 10px;
  cursor: pointer;
}
